.delete-recipe {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}

.delete-recipe-title {
    margin: 0 auto 20px;
}

.delete-recipe-btn {
    margin: 0 10px;
    padding: 5px 10px;
    background: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-recipe-btn--danger {
    background: #cc0000;
}
