.select {
    width: 100%;
    display: block;
    border-bottom: 1px solid #a7a7a7;
    text-align: left;
    padding: 0 0 5px 10px;
    position: relative;
}

.select--invalid {
    border-bottom: 1px solid #ff0000;
}

.list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    position: absolute;
    top: -15px;
    left: 0;
    background: #e2e6e9;
    max-height: 150px;
    overflow: auto;
    z-index: 1;
}

.text {
    cursor: pointer;
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 10px;
}

.list li {
    padding: 10px;
}

.list input {
    margin-right: 10px;
}

.list label {
    display: inline-block;
    width: 85%;
    cursor: pointer;
}

.input-notification {
    position: absolute;
    color: #ff0000;
    top: -15px;
    right: 0;
    font-size: 12px;
    margin: 0;
}
