.login {
    background: #f6f8fa;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
}

.login-form label,
.login-form input {
    display: block;
    margin: 0 auto;
}

.login-form input {
    height: 30px;
    width: 70%;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px auto;
}

.login p {
    margin: 0;
}

.login a {
    color: black;
    font-weight: bold;
}
