@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    width: 100%;
}

main {
    margin: 0 auto 257px;
    display: block;
    flex: 1 0 auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.error {
    color: red;
}

.main-btn {
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    border-radius: 5px;
    outline: none;
    border: 1px solid #0080ff;
    background: #0080ff;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

.main-btn:not(:disabled):hover {
    background: white;
    color: #0080ff;
}

.main-btn:disabled {
    background: #a7a7a7;
    border: 1px solid #a7a7a7;
    cursor: not-allowed;
}

.create-btn {
    margin: 30px 100px;
}
