@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: auto;
}

main {
    max-width: 1400px;
    margin: 0 auto 257px;
    display: block;
    flex: 1 0 auto;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.error {
    color: red;
}

.main-btn {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

.main-btn:hover {
    background: white;
    color: black;
}

.create-btn {
    margin: 30px 100px;
}