.register {
    background: #fff;
    text-align: center;
    border-radius: 15px;
    overflow: auto;
    margin: 0 auto;
}

.register-title {
    color: #fff;
    background: #0080ff;
    margin: 0;
    padding: 20px;
}

.register-form {
    padding: 20px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.placeholder {
    position: absolute;
    pointer-events: none;
    left: 55px;
    transition: 0.2s ease all;
    top: 25px;
}

.register-form input:focus ~ .placeholder,
.register-form input:not(:placeholder-shown) ~ .placeholder {
    font-size: 12px;
    top: 5px;
}

.register-form input {
    height: 30px;
    outline: none;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #a7a7a7;
    flex: 0 0 85%;
    font-size: 16px;
}

.register-form input.input-invalid {
    border-bottom: 1px solid #ff0000;
    color: #ff0000;
}

.register-form label {
    display: contents;
}

.register p {
    margin: 0;
}

.register a {
    color: black;
    font-weight: bold;
}

.input-notification {
    position: absolute;
    color: #ff0000;
    top: 5px;
    right: 0;
    font-size: 12px;
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}

p.invite {
    margin-top: 10px;
}

.spinner-container {
    margin-left: 15px;
}

.main-btn {
    display: flex;
    justify-content: center;
    width: 130px;
}

.icon {
    color: #8f8f8f;
    font-size: 25px;
}

.eye {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 22px;
}

@media all and (max-width: 610px) {
    .col {
        width: 100%;
    }
    .register-title {
        font-size: 16px;
    }
    .icon {
        font-size: 22px;
    }
    .register-form {
        padding-top: 10px;
    }
    .register-form input {
        flex: 0 0 89%;
    }
    .placeholder {
        left: 36px;
    }
    .main-btn {
        font-size: 16px;
        margin: 0 auto;
        padding: 5px 10px;
        width: 110px;
    }
    p.invite {
        font-size: 14px;
    }
}
