.add-recipe {
    background: #f6f8fa;
    text-align: center;
    padding: 20px;
}

.col {
    width: 90%;
    padding: 20px 0;
    margin: 0 20px;
    position: relative;
}

.create-restaurant-form-input {
    height: 30px;
    outline: none;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #a7a7a7;
    font-size: 16px;
    background: #f6f8fa;
    width: 100%;
    cursor: pointer;
}

.placeholder {
    position: absolute;
    pointer-events: none;
    left: 10px;
    transition: 0.2s ease all;
    top: 25px;
}

.file-btn {
    display: none;
}

.file-label {
    width: 100%;
    display: block;
    border-bottom: 1px solid #a7a7a7;
    text-align: left;
    padding: 0 0 5px 10px;
}

.file-label--invalid {
    border-bottom: 1px solid #ff0000;
}

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
    font-size: 12px;
    top: 5px;
}

input.input--invalid {
    border-bottom: 1px solid #ff0000;
    color: #ff0000;
}

.input-notification {
    position: absolute;
    color: #ff0000;
    top: 5px;
    right: 0;
    font-size: 12px;
    margin: 0;
}

.select {
    width: 100%;
    padding-left: 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #f6f8fa;
    border-bottom: 1px solid #a7a7a7;
    position: relative;
}

.select.input--invalid {
    border-bottom: 1px solid #ff0000;
}

.opt {
    position: absolute;
    top: 0;
}

.btn-flex {
    display: flex;
    justify-content: center;
    width: 130px;
    margin: 30px auto;
}

.spinner-container {
    margin-left: 10px;
}