.form-title {
    margin: 0;
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.placeholder {
    position: absolute;
    pointer-events: none;
    left: 15px;
    transition: 0.2s ease all;
    top: 25px;
}

.form input:focus ~ .placeholder,
.form input:not(:placeholder-shown) ~ .placeholder {
    font-size: 12px;
    top: 5px;
}

.form input {
    height: 30px;
    outline: none;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #a7a7a7;
    flex: 0 0 100%;
    font-size: 16px;
}

.form input.input-invalid {
    border-bottom: 1px solid #ff0000;
    color: #ff0000;
}

.input-notification {
    position: absolute;
    color: #ff0000;
    top: 5px;
    right: 0;
    font-size: 12px;
    margin: 0;
}

.main-btn {
    display: flex;
    justify-content: center;
    width: 130px;
    margin: 10px 0;
}

.spinner-container {
    margin-left: 15px;
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}

@media all and (max-width: 825px) {
    .input-notification {
        top: 52px;
        left: 10px;
    }
}