.restaurant {
    flex-basis: 23%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px lightgrey;
    cursor: pointer;
    width: 330px;
    margin: 0 10px 20px 10px;
}

.restaurant-image-wrapper {
    height: 210px;
    overflow: hidden;
}

.restaurant-img-wrapper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.restaurant a {
    text-decoration: none;
    color: black;
}

.restaurant-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.restaurant-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.restaurant .description {
    margin: 8px 0 8px 10px;
    flex-grow: 1;
}

.restaurant:hover .restaurant-img-wrapper-img {
    transform: scale(1.1);
}

.restaurant-score {
    display: flex;
    font-size: 20px;
}

.restaurant-score-icon {
    margin-right: 5px;
    color: #0080ff;
}

.restaurant-score-icon--gray {
    color: gray;
}

.restaurant-text-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin: 0 10px;
    font-size: 25px;
}
