.order {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px lightgrey;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 18px;
    cursor: pointer;
}

.order-title {
    margin: 0;
}

.order-date {
    margin: 10px 0 0;
}

.order-price {
    margin: 0;
}

.order-link {
    margin-left: 5px;
}

.order-link:hover {
    color: #0080ff;
}
