.user-icon {
    vertical-align: middle;
    transition: 0.5s all ease;
    font-size: 35px;
}

.user-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.container {
    position: relative;
}

@media all and (max-width: 670px) {
    .user-icon {
        font-size: 25px;
    }
}
