.list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 10px -5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    flex: 0 0 48%;
    margin: 0 5px;
}

.no-orders-title {
    margin: 0 5px;
}

@media all and (max-width: 670px) {
    .list-item {
        flex: 0 0 100%;
    }
}
