.cart {
    position: fixed;
    bottom: 0;
    background: white;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 5px 2px lightgrey;
    z-index: 11;
    max-height: 437px;
    overflow-y: auto;
}

.cart-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
}

.cart-header-img-wrapper {
    flex: 0 1 5%;
    position: relative;
}

.cart-header-img-wrapper-icon {
    font-size: 25px;
}

.cart-header-img-quantity {
    background-color: #0080ff;
    color: #fff;
    border-radius: 10px;
    padding: 0 3px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    min-width: 20px;
    height: 20px;
    pointer-events: none;
    top: -8px;
    left: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-header-text {
    flex: 1 1 95%;
    text-align: center;
    margin: 0 105px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-header-text span {
    font-weight: 600;
}

.cart-header-text p {
    margin: 0;
    display: inline-block;
}

.cart-header-text svg {
    margin-left: 10px;
}

.cart-content {
    display: flex;
    flex-wrap: wrap;
}

.cart-content-recipes,
.cart-content-checkout {
    flex: 0 0 50%;
}

.cart-content-recipes-list {
    list-style: none;
    padding: 0 20px;
    margin: 0;
}

.cart-content-summary {
    margin: 20px;
    border-top: 1px solid #a7a7a7;
    font-size: 20px;
}

.cart-content-summary p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.cart-content-checkout {
    padding: 0 20px;
    border-left: 1px solid #000;
}

@media all and (max-width: 1440px) {
    .cart {
        max-width: 1200px;
    }
    
    .cart-header-text {
        margin-right: 60px;
    }
}

@media all and (max-width: 1300px) {
    .cart {
        max-width: 1000px;
    }
}

@media all and (max-width: 1000px) {
    .cart {
        width: 95%;
    }

    .cart-content-summary {
        font-size: 16px;
    }
}

@media all and (max-width: 670px) {
    .cart-content {
        flex-direction: column;
    }

    .cart-header-text {
        margin-right: 30px;
    }

    .cart-content-checkout {
        border: none;
    }
}
