.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.hero-img img {
    width: 100%;
    border-radius: 15px;
}

.hero-content {
    flex-basis: 60%;
}

.hero-img {
    flex-basis: 40%;
}

.hero-content-title {
    font-size: 3rem;
}

.hero-content-subtitle {
    font-size: 2rem;
    margin-right: 13%;
}

@media all and (max-width: 1300px) {
    .hero-content-title {
        font-size: 2.2rem;
    }
    .hero-content-subtitle {
        font-size: 1.8rem;
    }
}

@media all and (max-width: 670px) {
    .hero-content-subtitle {
        margin-right: 0;
    }

    .hero {
        flex-direction:  column;
        margin-top: 0;
    }

    .hero-img {
        display: none;
    }
}

