.list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list li {
    max-width: 690px;
    flex: 0 0 50%;
}