.header {
    position: sticky;
    top: 0;
    background-color: #0080ff;
    color: #fff;
    z-index: 2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.icon {
    font-size: 48px;
    padding: 10px 10px 10px 0;
}

.navigation-wrapper > article {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.nav-list-item {
    padding: 5px 20px;
}

.nav-list-item:last-child {
    padding: 5px 0 5px 5px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.user-icon {
    vertical-align: middle;
    transition: 0.5s all ease;
    font-size: 35px;
}

.user-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.logo-link-short {
    display: none;
}

@media all and (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media all and (max-width: 1300px) {
    .container {
        max-width: 1000px;
    }
}

@media all and (max-width: 670px) {
    .logo-link-short {
        display: block;
        font-size: 20px;
        margin: 0;
    }
    .logo-link-long {
        display: none;
    }
    .icon {
        font-size: 40px;
    }
    .user-icon {
        font-size: 25px;
    }
}
