.recipe {
    display: flex;
    margin: 20px 0;
    flex: 0 0 49%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px lightgrey;
    position: relative;
    align-items: flex-start;
    min-height: 150px;
    min-width: 362px;
}

.recipe-img-wrapper {
    max-width: 150px;
    flex: 0 0 25%;
    height: 100%;
    max-height: 150px;
}

.recipe-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-content {
    margin: 0 40px 0 20px;
}

.recipe-content-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recipe-icon-wrapper {
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 5px 2px lightgrey;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
}

.recipe-admin-icons-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    display: flex;
    box-shadow: 0 0 5px 2px lightgrey;
    border-top-left-radius: 15px;
}

.recipe-admin-icons-wrapper .recipe-icon {
    margin: 11px;
    cursor: pointer;
}

.recipe-icon {
    font-size: 22px;
}

.recipe-content-weight {
    font-weight: 300;
}

@media all and (max-width: 1000px) {
    .recipe-content-text {
        -webkit-line-clamp: 3;
    }
    .recipe {
        height: 168px;
        min-width: 200px;
    }
    .recipe-img-wrapper {
        max-height: 168px;
    }
}

@media all and (max-width: 670px) {
    .recipe {
        flex: 0 0 100%;
    }
    .recipe-content-title {
        font-size: 16px;
    }
    .recipe-content-text {
        font-size: 14px;
    }
}
