.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 15px;
}

.cart-item-controls {
    display: flex;
}

.cart-item-icons {
    display: flex;
    align-items: center;
}

.cart-item-icons svg {
    margin-left: 10px;
    cursor: pointer;
}

.cart-item-icons span {
    margin-left: 10px;
}

.cart-item-text span {
    font-weight: 600;
}

.icon--red {
    color: #cc0000;
}

.icon--green {
    color: rgb(0, 105, 0);
}

@media all and (max-width: 1000px) {
    .cart-item-text,
    .cart-item-icons {
        font-size: 16px;
    }
}
