.kitchens {
    margin-top: 50px;
}

.kitchens {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.kitchens-title {
    flex-basis: 100%;
}

.kitchen img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform-origin: 0 0;
    transition: all 0.5s ease;
    filter: brightness(70%);
}

.kitchen:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}

.kitchen-name {
    position: absolute;
    bottom: -10px;
    left: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.list-item {
    height: 300px;
    width: 434px;
    margin: 20px;
    box-shadow: 0 0 5px 2px lightgrey;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

@media all and (max-width: 1440px) {
    .list-item {
        width: 360px;
    }
}

@media all and (max-width: 1300px) {
    .list-item {
        width: 293px;
    }
}

@media all and (max-width: 670px) {
    .list-item {
        width: 100%;
    }
}